.song_form{

  .album_artist, .song_info, .upload_file{
    background-color: $color-four;
    border-radius: 15px;
    padding: 20px;
    color: $color-two;
    margin: 10px;
  }
  button {
    background-color: $color-two;
    margin-top: 0.5rem;
    color: $color-five;
  }

  button:hover {
    background-color: $color-four;
    color: $color-two;
  }
}