.container{
  height: 100%;

.log_choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .front_card {
    margin: 7rem auto;
    width: 750px;
    height: 300px;
    color: $color-five;
    font-family: Bebas Neue, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;

    .btn {
      background-color: $color-one;
      height: 30px;
      width: 650px;
      border-radius: 50px;
      text-decoration: none;
      color: $color-five;
      border: 1px solid $color-five;
      text-align: center;
      padding: 5px;
    }

    a:hover, button:hover {
      background-color: $color-five;
      color: $color-two;
      border-color: $color-five;
    }
  }

  .card-one {
    display: flex;
    align-items: center;
    background-color: rgb(235, 167, 40);

    h2 {
      font-size: $font-subtitle;
      text-align: center;
      color: $color-five;
    }

    p {
      font-size: $font-text;
      text-align: center;
      padding: 2rem;
    }
  }

  .front_card.card-two::after {
    content: "";
  }

  .card-two {
    background-color: rgb(201, 60, 75);
    display: flex;
    align-items: center;

    h2 {
      font-size: $font-subtitle;
      text-align: center;
      color: $color-five;
    }

    p {
      font-size: $font-text;
      text-align: center;
    }
  }

  .slash {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    // padding-bottom: 1rem;

    hr {
      width: 1200px;
      height: 2px;
      color: $color-two;
      background-color: $color-one;
      border: none;
    }
  }

  .card-three {
    background-color: #a43cc9;
    display: flex;
    align-items: center;

    h2 {
      font-size: $font-subtitle;
      text-align: center;
      color: $color-five;
    }

    p {
      font-size: $font-text;
      text-align: center;
      padding: 2rem;
    }
  }

  .card-four {
    background-color: #3ca3c9;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    h2 {
      font-size: $font-subtitle;
      text-align: center;
      color: $color-five;
    }

    p {
      font-size: $font-text;
      text-align: center;
      padding: 2rem;
    }
  }
}
  @media screen and (max-width: 700px) {
    .front_card {
      width: 80%;
      font-size: $font-button;

      .btn {
        width: 50%;
        font-size: 0.8rem;
        margin: 10px;
      }
    }
  }
}
