

.card {
  background-color: $color-four;
  border: none;
  width: 150px;
  margin: 10px;

  img {
    clip-path: ellipse(50% 50%);
    object-fit: cover;
  }

  .card-text {
    color: $color-one;
    text-align: center;
    font-family: "Lucida Console", monospace, sans-serif;
    font-size: 1rem;
    margin-top: -10px;
  }
}



