.wrapper {
  margin: 0px;
  padding: 0px;
  background-color: $color-three;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
    "audio-player-container audio-player-container";

  header {
    grid-area: header;
  }

  aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: sticky;
    grid-area: aside;
    background-color: $color-five;
    border-right: $color-five 2px;
    height: 100%;

    li {

      font-family: Bebas Neue, serif;
      list-style-type: none;
      font-size: 24px;
    }

    li a{
      color: $color-four;
      text-decoration: none;
    }
  }

  main {
    grid-area: main;
    overflow-y: auto;

    .slider-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      h3 {
        font-family: Bebas Neue, serif;
        color: $color-one;
        padding-left: 10px;

      }

      .previous_artist, .next_artist, .previous_song, .next_song, .previous_playlist, .next_playlist {
        background-color: transparent;
        border: none;
        transition: transform 0.3s;

        i {
          color: $color-four;
        }

      }

      .previous_artist:hover, .next_artist:hover, .previous_song:hover
      , .next_song:hover, .previous_playlist:hover, .next_playlist:hover {
        transform: scale(1.2);
      }
    }

    .slider-wrapper-artist, .slider-wrapper-songs {
      display: flex;
      flex-direction: row;
      background-color: $color-four;
      width: 100%;
      margin-top: 0;
      overflow-x: hidden;
      line-height: 1px;
      //width: 200%;
      //overflow: hidden;
    }
    .tns-visually-hidden {
      display: none;
    }
    .appear{
      width: 100%;
      background-color: $color-four;
      button{
        font-family: Bebas Neue, serif;
        background-color: $color-three;
        color: $color-four;
        border: none;
        padding: 15px;
        margin: 15px;
      }
    }
  }

  footer {
    position: sticky;
    grid-area: footer;
  }

  .audio-player-container {
    grid-area: audio-player-container;
    width: 100%;
    height: 100px;
  figure{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: $color-four;
    audio{
      height: 50px;
    }
    button{
      height: 50px;
      width: 300px;
    }
    }
    //display: none;

  }

}

@media only screen and (max-width: 700px) {

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer"
    "audio-player-container";
    height: auto;

    aside {
      display: none;
    }

    .wrapper main {
      width: 100%;

      .slider-wrapper-artist .slider-wrapper-songs {
        width: 100%;
      }
    }
  }


}
