{#<figure>#}

{#    <button id="previous">Previous</button>#}

{#    <audio#}
{#            controls#}
{#            src="{{ asset('mp3/01-John-Lopker-Bamboozle-63a9784f3501b-mp3') }}">#}
{#    </audio>#}
{#    <button id="next">Next</button>#}
{# </figure>#}

<div id="aplayer"></div>
