<footer>
    <div class="foot">
        <div class="footnav">
            <nav>
                <a href="">CGV</a>

                <a href="">Mentions Légales</a>

                <a href="">FAQ</a>
            </nav>
        </div>

        <div class="logo">
            <img src="{{ asset('/images/logo (2).png') }}" alt="logo-div-a" />
        </div>
    </div>
</footer>
