<header class="admin_header">
    <h1 class="admin_title">DIV-Admin</h1>
    <div class="logo_admin">
        <img class="admin-logo" src="{{ asset('images/logo (2).png') }}" alt="">
    </div>
</header>