<section class="menu">
    <h4>Utilisateurs</h4>
    <ul>
        <li><a href="{{ path('app_user_list') }}">Liste des utilisateurs</a></li>

        <h4>Artistes</h4>
        <li><a href="{{ path('app_artist') }}">Liste des artistes</a></li>
        <li>Ajouter un artiste</li>
        <h4>Albums</h4>
        <li>Liste des albums</li>
        <li>Ajouter un album</li>
        <h4>Chansons</h4>
        <li>Liste des chansons</li>
        <li>Ajouter une chanson</li>
        <h4>Styles</h4>
        <li>Liste des styles</li>
        <li>Ajouter un style</li>
    </ul>
</section>