<a class="item" href="">
<div class="card" >
    <img src="{{ asset ('/images/R-14975841-1605132073-6851.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-text">Coucou</h3>
    </div>
</div>
</a>
