{% extends 'front/base.html.twig' %}

{% block title %}Bienvenue sur DIV-A{% endblock %}

{% block main %}
    <div class="container">

        <section class="log_choice">
            <div class="front_card card-one">
                <h2><strong>DIV-A gratuit !</strong></h2>
                <p>Crée ton compte et profite de tes musiques sur pc ou sur mobile</p>

                <button><a href="#">Crée ton compte</a></button>
            </div>

            <div class="front_card card-two">
                <h2><strong>DIV-A Premium</strong></h2>
                <p>
                    Abonne-toi, profite de ta musique en qualité HIFI et créer des salons
                    d'écoute pour partager tes artistes et préférés et tchatter avec
                    d'autres passionnés comme toi !
                </p>

                <button>Abonne-toi pour 9.99€/mois</button>
            </div>

            <div class="slash">
                <hr/>
            </div>

            <div class="front_card card-three">
                <h2><strong>C'est quoi un salon ?</strong></h2>
                <p>
                    Crée des salons selon tes goûts du moment et invite tes amis à
                    partager leurs morceaux préférés !
                </p>

                <button>Découvre les salons DIV-A</button>
            </div>

            <div class="front_card card-four">
                <h2><strong>F.A.Q</strong></h2>
                <p>Les réponses à toutes tes questions sur DIV-A !</p>

                <button>Toutes les réponses ici !</button>
            </div>
        </section>

    </div>
{% endblock %}
