{% extends 'front/base.html.twig' %}

{% block title %}Bienvenue sur DIV-A{% endblock %}

{% block main %}
    <div class="container">

        <section class="log_choice">
            <div class="front_card card-one">
                <h2><strong>DIV-A gratuit !</strong></h2>
                <p>Crée ton compte et profite d'artistes et de musique Open Source de qualité</p>

                <a href="{{ path('app_login') }}" class="btn btn-danger"> Créez un compte</a>
            </div>

            <div class="front_card card-two">
                <h2><strong>DIV-A Supporter</strong></h2>
                <p>
                    Abonne-toi, pour aider les artistes que tu écoutes à poursuivre leur aventure et
                    pour nous permettre de créer de nouvelle fonctionnalités!
                </p>

                <a class="btn btn-danger">Abonne-toi pour 9.99€/mois</a>
            </div>

{#            <div class="slash">#}
{#                <hr/>#}
{#            </div>#}

{#            <div class="front_card card-three">#}
{#                <h2><strong>C'est quoi un salon ?</strong></h2>#}
{#                <p>#}
{#                    Crée des salons selon tes goûts du moment et invite tes amis à#}
{#                    partager leurs morceaux préférés !#}
{#                </p>#}

{#                <a class="btn btn-danger">Découvre les salons DIV-A</a>#}
{#            </div>#}

{#            <div class="front_card card-four">#}
{#                <h2><strong>F.A.Q</strong></h2>#}
{#                <p>Les réponses à toutes tes questions sur DIV-A !</p>#}

{#                <a class="btn btn-danger">Toutes les réponses ici !</a>#}
{#            </div>#}
        </section>

    </div>
{% endblock %}
